<main>
    <div routerLink="/home" class="left-side">
        ADITYA
    </div>
    <div class="right-side">
        <div id="1">
            <li routerLink="/homea">
                Home
            </li>
        </div>
        <div id="1">
            <li routerLink="/tech">
                Technology
            </li>
        </div>
        <div id="2">
            <li routerLink="/about">
                About
            </li>
        </div>
        <div id="3" routerLink="/career">
            <li>
                Careers
            </li>
        </div>
        <div>
            <button class="sub-button">
                Subscribe
            </button>
        </div>
    </div>
</main>
