<main>
    <div class="profile">
        <img src="assets/profile.jpg" alt="">
    </div>
    <div>
        <p>
            Software Engineer and Co-founder at Mozilla Firefox Club VIT Bhopal (MFC-VITB), a student-led community that promotes open source culture and web literacy. I am responsible for developing and maintaining the club's website, using technologies such as React, HTML5, CSS3, and JavaScript. I also lead the PR and outreach activities, creating engaging content and graphics with tools like Canva and Adobe Photoshop, and managing the club's social media platforms.
        </p>
    </div>
</main>
