app-header {
    position: absolute;
    width: 100%;
    z-index: 2; /* Place the header above the image */

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}